/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
        ext.prefix = { "${meta.id}_raw" }
        tag        = { "${meta.id}_fastqc" }
    }

    withName: FASTP {
        ext.args   = [
            "-q ${params.fastp_phred_quality}",
            "--length_required ${params.fastp_reads_minlen_required}",
            "--dedup"
            ].join(' ').trim()
            publishDir = [
                [
                    path: { "${params.outdir}/fastp/${meta.id}" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{html,json}"
                ],
                [   path: { "${params.outdir}/fastp/${meta.id}" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{fastq.gz}"
                ]
            ]
        ext.prefix = { "${meta.id}_trimmed" }
        tag        = { "${meta.id}_trimming" }
    }

    withName: METAPHLAN3_METAPHLAN3 {
        ext.args   = { "--index ${params.metaphlan_index}" }
        publishDir = [
            path: { "${params.outdir}/metaphlan3/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,biom}"
        ]
        ext.prefix = { "${meta.id}" }
        tag        = { "${meta.id}_metaphlan3" }
    }

    withName: METAPHLAN3_MERGEMETAPHLANTABLES {
        ext.prefix = 'merged_metaphlan'
        publishDir = [
            path: { "${params.outdir}/metaphlan3" },
            mode: params.publish_dir_mode
        ]
        tag = 'merge_metaphlan_tables'
    }

    withName: HUMANN {
        publishDir = [
            path: { "${params.outdir}/humann/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
        ext.prefix = { "${meta.id}" }
        tag        = { "${meta.id}_humann" }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
