/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
        ext.prefix = { "${meta.id}_raw" }
        tag        = { "${meta.id}_fastqc" }
    }

    withName: FASTP {
        ext.args   = [
            "-q ${params.fastp_phred_quality}",
            "--length_required ${params.fastp_reads_minlen_required}",
            "--dedup"
            ].join(' ').trim()
            publishDir = [
                [
                    path: { "${params.outdir}/fastp/${meta.id}" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{fastq.gz,html,json}"
                ]
            ]
        ext.prefix = { "${meta.id}_trimmed" }
        tag        = { "${meta.id}_trimming" }
    }

    withName: METAPHLAN4 {
        ext.args   = [
            "--index ${params.metaphlan_index}",
            "-t ${params.metaphlan_analysis_type}",
            "--stat_q ${params.metaphlan_stat_q}"
            ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/metaphlan4/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,biom}"
        ]
        ext.prefix = { "${meta.id}" }
        tag        = { "${meta.id}_metaphlan4" }
    }

    withName: METAPHLAN4_MERGE_TABLES {
        ext.prefix = 'merged_metaphlan'
        publishDir = [
            path: { "${params.outdir}/metaphlan4" },
            mode: params.publish_dir_mode
        ]
        tag = 'merge_metaphlan_tables'
    }

    withName: HUMANN {
        publishDir = [
            path: { "${params.outdir}/humann/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
        ext.prefix = { "${meta.id}" }
        tag        = { "${meta.id}_humann" }
    }

    withName: MEGAHIT {
        ext.args   = [
            "--k-list ${params.megahit_kmer_list}",
            "--min-contig-len ${params.megahit_min_contig_len}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/assembly/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{fa.gz,log}"
        ]
        ext.prefix = { "${meta.id}_assembled" }
        tag        = { "${meta.id}_assembling" }
    }

    withName: BWA_INDEX {
        publishDir = [
            path: { "${params.outdir}/bwa_index/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
        ext.prefix = { "${meta.id}_indexed" }
        tag        = { "${meta.id}_indexing" }
    }

    withName: BWA_MEM {
        publishDir = [
            path: { "${params.outdir}/bwa_align_sorted/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
        ext.prefix = { "${meta.id}_aligned" }
        tag        = { "${meta.id}_align&sorting" }
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/samtools/indexed/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.bai"
        ]
        ext.prefix = { "${meta.id}_sorted_index" }
        tag        = { "${meta.id}_sorted_indexing" }
    }

    withName: METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS {
        publishDir = [
            path: { "${params.outdir}/metabat2/depths" },
            mode: params.publish_dir_mode,
            pattern: "*.txt.gz"
        ]
        ext.prefix = { "${meta.id}_depth" }
        tag        = { "${meta.id}_depth" }
    }

    withName: METABAT2_METABAT2 {
        ext.args   = [
            "--minContig ${params.metabat2_min_contig_len}",
            "--seed ${params.metabat2_seed}",
            "--unbinned"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/metabat2/bins/${meta.id}/bins" },
                mode: params.publish_dir_mode,
                pattern: "*[!lowDepth|tooShort|unbinned].fa.gz"
            ]
        ]
        ext.prefix = { "${meta.id}_bin" }
        tag        = { "${meta.id}_binning" }
    }

    withName: GUNZIP_BINS {
        publishDir = [
            enabled: false
        ]
        ext.prefix = { "${meta.id}_unzip_bins" }
        tag        = { "${meta.id}_unzip_bins" }
    }

    withName: SEQFU_DEREP {
        publishDir = [
            path: { "${params.outdir}/metabat2/derep/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*_derep.fasta.gz"
        ]
        ext.prefix = { "${meta.id}_derep_bins" }
        tag        = { "${meta.id}_derep_bins" }
    }

    withName: GUNZIP_DEREP {
        publishDir = [
            enabled: false
        ]
        ext.prefix = { "${meta.id}_unzip_derep_bins" }
        tag        = { "${meta.id}_unzip_derep_bins" }
    }

    withName: GTDBTK_CLASSIFYWF {
        ext.args   = [
            "--extension ${params.gtdbtk_extension}",
            params.gtdbtk_skip_ani_screen ? '--skip_ani_screen' : ''
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/gtdbtk/${meta.id}" },
            mode: params.publish_dir_mode,
            //pattern: "**/*"
        ]
        ext.prefix = { "${meta.id}_gtdbtk" }
        tag        = { "${meta.id}_gtdbtk" }
    }

    withName: GUNZIP_CONTIGS {
        publishDir = [
            enabled: false
        ]
        tag        = { "${meta.id}_unzip_contigs" }
    }

    withName: ANTISMASH_ANTISMASH {
        ext.args = [
            "--taxon ${params.antismash_taxon}",
            "--genefinding-tool ${params.antismash_genefinding_tool}",
            "--cb-knownclusters",
            "--cc-mibig"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/antismash/" },
            mode: params.publish_dir_mode,
            pattern: "*/*.{gbk,log}"
        ]
        ext.prefix = { "${meta.id}" }
        tag        = { "${meta.id}_antismash" } 
    }

    withName: ANTISMASH_PROCESS_SAMPLES {
        publishDir = [
            path: { "${params.outdir}/antismash/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
        tag = { "${meta.id}_antismash_process" }
    }

    withName: ANTISMASH_EXTRACT_BGCS {
        publishDir = [
            path: { "${params.outdir}/antismash/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.fa"
        ]
        tag = { "${meta.id}_antismash_extract" }
    }

    withName: COVERM_CONTIG {
        ext.args   = [
            "--methods tpm",
            "--min-read-percent-identity 95",
            "--min-read-aligned-percent 75"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/coverm/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.depth.tsv"
        ]
        ext.prefix = { "${meta.id}_coverm" }
        tag        = { "${meta.id}_coverm" }
    }

    withName: COVERM_MERGE_TABLES {
        publishDir = [
            path: { "${params.outdir}/coverm" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
        ext.prefix = 'coverm_merged'
        tag        = 'coverm_merged_depths'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
